<h1>Notices</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.subject %></td>
        <td><%= resume raw notice.text %></td>
        <td><%= link_to 'Show', notice, :class => "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice), :class => "btn btn-outline-dark" %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path, :class =>"btn btn-outline-success" %>
