<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://image.flaticon.com/icons/svg/149/149452.svg" alt="" width="72" height="72">
    <h2>Dados da Conta</h2>
    <p class="lead"></p>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Editar <%= resource_name.to_s.humanize %></h4>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "usuario@exemplo.com"  %>
          <div class="invalid-feedback" style="width: 100%;">
            O endereço de email é obrigatório.
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <div class="input-group">
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Uma senha forte contém letras, números e caracteres especiais" %>
          <div class="invalid-feedback" style="width: 100%;">
            A senha é obrigatória.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation %><br />
        <div class="input-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Digite a mesma senha para confirmar" %>
          <div class="invalid-feedback" style="width: 100%;">
            As senhas não são iguais.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :current_password %> <i>(nós precisamos de sua senha atual para confirmar as alterações)</i><br />
        <div class="input-group">
          <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :placeholder => "Digite sua senha atual" %>
          <div class="invalid-feedback" style="width: 100%;">
            Senha atual inválida
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Atualizar", :class => "btn btn-outline-primary form-control" %>
      </div>
    <% end %>

    <div style="border: 2px dashed #fff; border-radius: 10px; padding: 1em; margin-top: 0.8em; margin-bottom: 0.8em;">
      <h3>Cancelar minha conta</h3>

      <p>Se não deseja continuar cadastrado, você pode apagar sua conta no botão abaixo. <%= button_to "Apagar Conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-outline-danger form-control" %></p>
    </div>

    <%= link_to "Back", :back, :class =>"btn btn-outline-secondary" %>

    </div>
  </div>
</div>
