<!DOCTYPE html>
<html>
  <head>
    <title>Topatudopordinheiro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/menu' %>
  <div class="text-center">
    
    <% if !alert.nil? %>
      <p class="alert alert-warning" id="alert"><%= alert %></p>
    <% else %>
      <p class="" id="alert"><%= alert %></p>
    <% end %>

    <% if !notice.nil? %>
      <p class="alert alert-info" id="notice"><%= notice %></p>
    <% else %>
      <p class="" id="notice"><%= notice %></p>
    <% end %>
  </div>
  
    <%= yield %>
  </body>
</html>

